# Ignore files and directories related to IDEs like PyCharm
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build or output directories
/build/
/dist/

# Ignore personal configuration files
*.env
config.yaml

# Ignore ClearML config file
/home/mefathim/clearml.conf
